*{
    font-family: cursive;
    background-color: rgb(255, 151, 169);
    color: rgb(188, 68, 192);
    text-decoration: none;
    margin: 0;
}

h1{
    text-align: center;
    text-decoration: underline;
    padding-bottom: 3rem;
}

h2{
    /* padding-left: 1rem; */
    text-decoration: underline wavy;
}

a{
    color: rgb(115, 6, 148);
}

.name{
    font-size: 2rem;
    /* padding: .5rem 0; */
    font-weight: 800;
}

.music-image img{
    border-radius: 20px;
    height: 100px;
    width: 100px;
    border: 10px solid;
    /* margin-left: .5rem; */
}

#songs li{
    padding-bottom: 5px;
}

#songs{
    padding-bottom: 2rem;
}

/* #songs-header{
    padding: 15px 2rem;
} */

.container{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr; /* This creates three equal rows */
    grid-template-columns: auto auto auto; /* This creates three equal columns */
}

.row1{
    grid-row: 1; 
    display: grid;
}


.row2{
    grid-row: 2; /* This assigns the second row to .row2 */
}

.row3{
    grid-row: 3; /* This assigns the third row to .row3 */
}

#olivia-rodrigo{
    display: grid;
    grid-column: 1; 
    grid-row: 1;
}

#james-marriott{
    display: grid;
    grid-column: 2; 
    grid-row: 1;
}

#taylor-swift{
    display: grid;
    grid-column: 3;
    grid-row: 1;
}

ul{
    display: grid;
    list-style: none;
}

.index{
    margin: 1rem;
}